
{% set PROJECT_ID = {{ properties["name"] }} + env["deployment"] %}

resources:
- name: {{ PROJECT_ID }}
  type: gcp-types/cloudresourcemanager-v1:projects
  properties:
    projectId: {{ PROJECT_ID }}
    parent:
      type: organization
      id: {{ properties["organizationId"] }}
    apis:
    - compute.googleapis.com
    - deploymentmanager.googleapis.com
    - storage-component.googleapis.com
    - monitoring.googleapis.com
    - logging.googleapis.com
    set-dm-service-account-as-owner: true
