resources:
- name: {{ properties["name"] }}
  type: compute.v1.instance
  properties:
    name: {{ properties["name"] }}
    {% if properties["tags"] %}
    tags:
      items:
    {% for tag in properties["tags"] %}
      - {{ tag }}
    {% endfor %}
    {% endif %}
    machineType: projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/{{ properties["machineType"] }}
    zone: {{ properties["zone"] }}
    networkInterfaces:
    - network: projects/{{ env["project"] }}/global/networks/{{ properties["network"] }}
      subnetwork: projects/{{ env["project"] }}/regions/{{ properties["region"] }}/subnetworks/{{ properties["subnetwork"] }}
