resources:
- name: {{ properties["name"] }}
  type: compute.v1.instance
  properties:
    name: {{ properties["name"] }}
    {% if properties["tags"] %}
    tags:
      items:
    {% for tag in properties["tags"] %}
      - {{ tag }}
    {% endfor %}
    {% endif %}
    machineType: projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/{{ properties["machineType"] }}
    zone: {{ properties["zone"] }}
    networkInterfaces:
    {% for eth in properties["networkInterfaces"] %}
    - network: projects/{{ env["project"] }}/global/networks/{{ eth["network"] }}
      subnetwork: projects/{{ env["project"] }}/regions/{{ properties["region"] }}/subnetworks/{{ eth["subnetwork"] }}
      accessConfigs:
        {% if eth["natIP"] %}
        natIP: {{ eth["natIP"] }}
        {% endif %}
        {% if eth["ptr"] %}
        setPublicPtr: true
        publicPtrDomainName: {{ eth["ptrName"] }}
        {% endif %}
    {% endfor %}
    disks:
    - boot: true
      autoDelete: {{ properties["autoDelete"] }}
      initializeParams:
        {% if properties["sourceSnapshot"] %}
        sourceSnapshot: {{ properties["sourceSnapshot"] }}
        {% else %}
        sourceImage: {{ properties["image"] }}
        {% endif %}
        diskSizeGb: {{ properties["diskSize"] }}
        diskType: /zones/{{ properties["zone"] }}/diskTypes/{{ properties["diskType"] }}
    {% if properties["addDisks"] %}
    {% for disk in properties["addDisks"] %}
    - $(ref.{{ disk["nam"] }}.selfLink)
    {% endfor %}
    {% endif %}
    metadata:
      items:
      - key: enable-oslogin
        value: {{ properties["osLogin"] }}
      {% for items in properties["metadata"] %}
      - key: {{ items["key"] }}
        value: {{ items["value"] }}
      {% end for %}
    serviceAccounts:
    {% if properties["serviceAccount"] %}
      email: {{ properties["serviceAccount" }}
    {% else %}
      email: {{ env["project"] }}-compute@developer.gserviceaccount.com
      scopes:
      {% if properties["scopes"] }}
      {% for scope in properties["scopes"] %}
      - {{ scope }}
      {% endfor %}
      {% endif %}
    {% endif %}
    labels:
    {% for label in properties["labels"] %}
    - key: {{ label["key"] }}
      value: {{ label["value"] }}
    {% endfor %}
{% if properties["addDisks"] %}
{% for disk in properties["addDisks"] %}
- name: disk-{{ disk["name"] }}
  type: compute.v1.disk
  properties:
    name: {{ disk["name"] }}
    sizeGb: {{disk["size"] }}
    type: /zones/{{ properties["zone"] }}/diskTypes/{{ disk["diskType"] }}
    {% if disk["sourceSnapshot"] %}
    sourceSnapshot: {{ disk["sourceSnapshot"] }}
    {% else %}
    sourceImage: {{ disk["image"] }}
    {% endif %}
{% endfor %}
{% endif %}
