resources:
- name: {{ properties["name"] }}
  type: compute.v1.instance
  properties:
    name: {{ properties["name"] }}
    tags:
      items:
      - bastion
      - web-server
    machineType: projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/{{ properties["machineType"] }}
    zone: {{ properties["zone"] }}
    networkInterfaces:
    - network: {{ properties["network"] }}
      subnetwork: {{ properties["subnetwork"] }}
