resources:
- name: cluster
  type: container.v1.cluster  ##Need to update to use gcp/type
  properties:
    zone: {{ properties["zone"] }}
    cluster:
      name: {{ properties["name"] }}      
      network: {{ properties["network"] }}
      subnetwork: {{ properties["subnetwork"] }}
      initialClusterVersion: latest
      nodePools:
      - name: {{ properties["name"] }} 
        initialNodeCount: {{ properties["initialNodeCount"] }}
        autoscaling:
          enabled: true
          minNodeCount: 1
          maxNodeCount: 3
        config:
          machineType: {{ properties["machineType"] }}
          diskSizeGb: 100
          preemptible: false
          oauthScopes:
          - https://www.googleapis.com/auth/devstorage.read_only
          - https://www.googleapis.com/auth/logging.write
          - https://www.googleapis.com/auth/monitoring
          - https://www.googleapis.com/auth/servicecontrol
          - https://www.googleapis.com/auth/service.management.readonly
          - https://www.googleapis.com/auth/source.read_only
          - https://www.googleapis.com/auth/trace.append
      ##Configure how to auth against master endpoint. Disable both will rely on IAM
      masterAuth:
        clientCertificateConfig:
          issueClientCertificate: false
        username: ""
      ##New Beta logging and monitoring
      loggingService: logging.googleapis.com/kubernetes
      monitoringService: monitoring.googleapis.com/kubernetes
      addonsConfig:
        kubernetesDashboard:
          disabled: true
        httpLoadBalancing:
          disabled: false
